body {
    margin: 0;
    color: #6a6f8c;
    background: #c8c8c8;
    font: 600 16px/18px 'Open Sans', sans-serif;
    /* overflow-y: hidden; */

}
#signInDIV{
	position: relative;
	top: -20px;

right: 50px;

		
	  }

	  .title{
		position: relative;
		top: -350%;
		color: rgba(0, 115, 255, 0.97);
		font-size: 30px;
	
	}
	
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/cover.jpg);
    background-size: cover;
    padding: 150px 0;
    color: #fff;
    width: 100%;                      
    height: 100vh;
    overflow-y: hidden;
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap {
	width: 100%;
	max-width: 470px;
	min-height: 600px;
	position: absolute;
	
	left: 50%;
	transform: translate(-50%, -50%);
	background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
  }
  

  #pass{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
  }
  
  .login-html {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 90px 70px 50px 70px;
	background: rgba(40, 57, 101, .9);
  }
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
#btn{
	color: white;
	padding:20px 150px;
	background-color:#1161ee;
	border-radius:25px;
	border: none;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}

.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
#forget{
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.foot-lnk{
	text-align:center;
	position: relative;
	top: -50px;
	
}
@media (max-width: 768px) {
	body {
		color: #6a6f8c;
		background: #c8c8c8;
		font: 600 16px/18px 'Open Sans', sans-serif;
		overflow: auto;
	  }
	  #btnSignin{
		position: relative;
		top: -50px;
		text-align: center;
	  }
	  #signup{
		width: 130px;
		height: 40px;
	  }
	  .input{
		width: 70px;
	  }

#pass{
	width: 130px;
		height: 40px;
		position: relative;
		right: 30px;
}

	  .hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-image: url(../img/cover.jpg);
		background-size: cover; /* מתאים את התמונה לגודל ה-DIV */
		background-position: center center; /* מרכז את התמונה ברקע */
		padding: 150px 0;
		color: #fff;
		width: 100%;
		height: 100vh;
	  }
	
	*,
	*:after,
	*:before {
		box-sizing: border-box;
	}
	#forget{
	position: relative;
	left: 10px;
	font-size: 15px;
		
		
	  }
	  /* #btnSignin{
		position: relative;
		
	  } */
	.clearfix:after,
	.clearfix:before {
		content: '';
		display: table;
	}
	
	.clearfix:after {
		clear: both;
		display: block;
	}
	#inptForget{
		width: 130px;
		height: 40px;
		border-radius: 25px;
		position: relative;
		right: 30px;
	}
	
	a {
		color: inherit;
		text-decoration: none;
	}
	#labelCheck{
		position: relative;
		top: -100px;
		white-space: nowrap;

	}
	#labalForget{
		position: relative;
		top: 5px;
		left: -40px;

		
	}
	#btnForget{
		width: 150px;
		height: 40px;
		background-color: #1161ee;
		color: white;
		border-radius: 25px;
		position: relative;
		
	}

	#tDiv{
	position: relative;
	top: -350px;
	}

	#TitleForget{
		position: relative;
		right: 60px;
	}
	.login-wrap {
		
		width: 50%;
		max-width: 470px;
		min-height: 650px;
		position: absolute;
		
		left: 50%;
		transform: translate(-50%, -50%);
		background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
		
	  }
	.login-html {
		width: 100%;
		height: 100%;
		position: absolute;
		padding: 90px 70px 50px 70px;
		background: rgba(40, 57, 101, .9);
	}
	

	.login-html .sign-in-htm,
	.login-html .sign-up-htm {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		transform: rotateY(180deg);
		backface-visibility: hidden;
		transition: all .4s linear;
	}
	
	.login-html .sign-in,
	.login-html .sign-up,
	.login-form .group .check {
		display: none;
		
	}
	
	.login-html .tab,
	.login-form .group .label,
	.login-form .group .button {
		text-transform: uppercase;
	}
	
	.login-html .tab {
		font-size: 22px;
		margin-right: 15px;
		padding-bottom: 5px;
		margin: 0 15px 10px 0;
		display: inline-block;
		border-bottom: 2px solid transparent;
		position: relative;
		top: -80px;
	}
	#signup{
		position: relative;
		top: -130px;
	}
	.login-html .sign-in:checked + .tab,
	.login-html .sign-up:checked + .tab {
		color: #fff;
		border-color: #1161ee;
	}

	.login-form {
		
		min-height: 345px;
		position: relative;
		perspective: 1000px;
		transform-style: preserve-3d;
	}
	

	.login-form .group .input,
	.login-form .group .button {
		width: 130px;
		height: 40px;
		color: #fff;
		position: relative;
		top: -80px;
		left: -5px;
		margin-bottom: 10px;
		
	}
	#signInDIV{
	position: relative;
	top: -150px;
left: -70px;


		
	  }
#btnsignup{
	position: relative;
	top: -80px;
	text-align: center;
}
	
	#repet{
	position: relative;
	left: 20px;
	}

.label{
	position: relative;
	left: 25px;
	top: -110px;
	white-space: nowrap;
}

	.login-form .group {
		display: flex;
		justify-content: center;
		margin: 35px;
	  }
	  #msg{
		position: fixed;
		top: 225px;
		font-size: 15px;
		color: white;
		white-space: nowrap;
		font-weight: bold;

	  }
	  .login-form .group .input {
		width: 135px;
	  }

.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

.login-form .group .label {
    color: #aaa;
    font-size: 12px;
}

.login-form .group .button {
    background: #1161ee;
	position: relative;
	top: 100px;
	
}
.title{
	
	color: rgba(0, 115, 255, 0.97);
	font-size: 20px;
	margin-top: 20px;


}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
	
    background: #fff;
    position: absolute;
	
    transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
	
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked + label {
    color: #fff;
	white-space: nowrap;
}

.login-form .group .check:checked + label .icon {
    background: #1161ee;
}

.login-form .group .check:checked + label .icon:before {
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2);
}

.foot-lnk {
    text-align: center;
}

a {
white-space: nowrap;
position: relative;
top:-120px;
left: -30px;
color: white;

}

#h1 {
	position: relative;
	
	top: -320px;
}



}